<%= form_with(model: line_item) do |form| %>
  <% if line_item.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(line_item.errors.count, "error") %> prohibited this line_item from being saved:</h2>

      <ul>
        <% line_item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :amount, style: "display: block" %>
    <%= form.text_field :amount %>
  </div>

  <div>
    <%= form.label :quntity, style: "display: block" %>
    <%= form.text_field :quntity %>
  </div>

  <div>
    <%= form.label :invoice_id, style: "display: block" %>
    <%= form.text_field :invoice_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
